body2 {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ffffff
}

a {
  color: #00B7FF;
}

.toplevelOLD {
  border-left: thick solid #997755;
  padding-left:10px;
  margin-left:50px
}

.offwhite {
  background-color: #fffff0
}

.Accept {
  background-color: #00ff00
}

.Reject {
  background-color: #ff0000
}

.awaiting {
  background-color: #ffff00
}

#skillDesc {
  color:blue
}

.padded {
  padding:20px
}
